.header{
  color: white;
  background-color: darkblue;
  margin-bottom: 30px;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
}
.product {
  width: 30%;
  height: 50vh;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.cart-container {
  float: right;
  display: flex;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-left: 20px;
}

.product-image {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.product-desc {
  display: flex;
  flex-direction: column;
  width: 68%;
  margin-left: 20px;
}

.product-pic {
  width: 30vh;
  height: 30vh;
}

.back-to-catalog {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.add-to-cart {
  width: 20%;
}

.cart-summary-container {
  margin-left: 20px;
}

.cart-summary-item {
  border-style: solid;
  width: 90%;
  margin: 20px;
}

.cart-summary-item-container {
  text-align: center;
}

.checkout-form {
  margin-left: 20px;
}

.form-input {
  width: 75%;
}

.place-order-button {
  margin-left: 20px;
}

.cart-container {
  margin-top: 2px;
}

.product-list-image {
  margin-top: 10px;
  height: 15vh;
  width: 15vh;
}

.checkout {
  float: right;
  margin-right: 10%;
  margin-bottom: 100px;
}

.coding-course {
  margin-left: 5px;
}

@media (max-width: 375px) and (max-height: 667px) {
  .font-small {
    font-size: 15px;
  }
  .font-text {
    font-size: 13px;
  }

  .back-to-catalog {
    width: 20vh;
    height: 10vh;
  }

  .add-to-cart {
    width: 20vh;
    height: 10vh;
  }

  .checkout {
    float: none;
    margin-left: 20px;
  }

  .total-price {
    margin-left: 20px;
  }

  .phone-image {
    height: 20vh;
    width: 20vh;
  }
}

@media (max-width: 667px) and (max-height: 375px) {
  .font-small {
    font-size: 15px;
  }

  .font-text {
    font-size: 13px;
  }
}
